/* RESET DE BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #007BFF; /* Bleu clair */
    color: white;
    text-align: center;
    padding: 30px 0;
}

header .logo h1 {
    font-size: 36px;
    margin: 0;
}

header .logo p {
    font-size: 18px;
    margin-top: 10px;
}

/* Navigation des onglets */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    margin-top: 20px;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #007BFF;
}

/* Contenu des onglets */
.tabcontent {
    display: none;
    padding: 40px;
    background-color: #fff;
    margin-top: 20px;
}

.tabcontent.active {
    display: block;
}

h2 {
    font-size: 28px;
    color: #007BFF;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}
