/* RESET DE BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps du site */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Blanc */
    color: #333; /* Gris foncé pour le texte */
}

/* Header */
header {
    background-color: #F44336; /* Rouge clair */
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Hero (Carrousel) */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.carousel-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Section Produits */
#produits {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.produit-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.produit {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.produit:hover {
    transform: scale(1.05);
}

.produit img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.produit-details h3 {
    margin: 15px 0;
    font-size: 20px;
}

.produit-details p {
    font-size: 18px;
    color: #333;
}

button {
    background-color: #F44336; /* Rouge clair */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D32F2F; /* Rouge plus foncé */
}

/* Section À propos */
#about {
    padding: 40px 0;
    background-color: #f7f7f7;
    text-align: center;
}

#about h2 {
    color: #F44336; /* Rouge clair */
}

/* Formulaire de Contact */
#contact {
    padding: 40px 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

form button {
    padding: 15px;
    background-color: #F44336; /* Rouge clair */
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #D32F2F; /* Rouge plus foncé */
}

/* Footer */
footer {
    background-color: #F44336; /* Rouge clair */
    color: white;
    text-align: center;
    padding: 20px;
}
